@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --PrimaryColor: hsl(225, 50%, 48%);
    --SecondaryColor: hsl(180, 17%,95%) ;
    --colorOne: hsl(15, 74%,70%) ;
    --colorTwo: hsl(28, 100%,82%) ;
    --HoverColor: hsl(225, 56%, 59%);
    --whiteColor: hsl(0,0%,100%);
    --blackColor: hsl(0,0%,12%) ;
    --textColor:hsl(240,1%, 48%);
    --borderColor: hsl(0, 0%,0%, 83%);
    --whiteColorDeam:hsl(0,0%,93%) ;
    --greyBg: hsl(0, 0%,96%) ;
    --greyText: rgb(145, 145, 145);
    --inputColor: hsl(330, 12%, 97%);
    --boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0рх 4px 6px -2px;
    --transition: .4s ease-in-out;
}

body{
    background: var(--whiteColor);
}


// Default Style
a{
    text-decoration: none;
}

li{
    list-style: none;
    cursor: pointer;
}

.section{
    padding: 4rem 0 2rem;
}   

.container{
    padding-left: 6rem;
    padding-right: 6rem;
    @media screen and (max-width: 768px){
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @media screen and (max-width: 480px){
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}

.icon{
    font-size: 1.3rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.none{
    display: none;
}

.btn{
    border: none;
    padding: .7rem 1.5rem;
    background: var(--PrimaryColor);
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
    color: var(--whiteColor);

    a{
        color: var(--whiteColor);
        font-weight: 500;
    }

    &:hover{
        background: var(--HoverColor);
    }
}

img, video{
    width: 100%;
    height: auto;
}

.input{
    font-size: 100%;
    color: var(--blackColor);
    background: var(--greyText);
    border-radius: .4rem;
    padding: 1rem;
    border: none;
    outline: none;
    &:focus{
        border: 1px solid var(--PrimaryColor);
    }
}

p{
    font-size: 13px;
    color: var(--greyText);
    line-height: 22px;
}

h4{
    padding: 1rem 0;
    font-weight: 700;
    color: var(--blackColor);
}

h2{
    font-size: 25px;
    padding: 1rem 0;
    color: var(--blackColor);
}
// End Default Style

// Section Style

// Navbar
.navBar{
    position: fixed;
    flex-direction: column;
    width: 100%;
    z-index: 1000;

    .navBarOne, .navBarTwo{
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }

    .navBarOne{
        background: var(--SecondaryColor);
        .icon:hover{
            color: var(--PrimaryColor);
        }

        .atb{
            gap: 1rem;

            span{
                color: var(--blackColor);
                font-size: 13px;
                cursor: pointer;
            }

            &:hover{
                color: var(--PrimaryColor);
                font-size: 700;
            }
        }
        padding-left: 2rem;
        padding-right: 2rem;
        @media screen and (max-width: 768px){
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    .navBarTwo{
        background-color: var(--whiteColor);
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 3.5rem;
        padding: .5rem 1rem;
        position: fixed;
        transition: .3s ease-in-out;

        .navBarMenu{
            .menu{
                gap: 1.5rem;
            }
        }

        .logoDiv{
            .logo{
                width: 60px;
                height: 60px;
            }
        }

        @media screen and (max-width: 768px){
            .navBarMenu {
                position: absolute;
                flex-direction: column;
                background: var(--SecondaryColor);
                padding: 1.5rem;
                border-radius: 10px;
                top: 5rem;
                gap: 1rem;
                right: -50%;
                width: 80%;
                transform: translateX(50%);
                z-index: 2000;
                box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05) 0px 4px 6px -2px;
                border: 3px solid var(--whiteColor);
                transition: .4s ease-in-out;
            }

            .toogleIcon{
                display: block;
            }

            .menu{
                width: 100%;
                flex-direction: column;
                gap: .5rem;
                text-align: center;

                .listItem{
                    width: 100%;
                    padding: .5rem 0;
                    cursor: pointer;
                    color: var(--blackColor);
                }

                &:hover{
                    color: var(--PrimaryColor);
                    font-weight: 700;
                }
            }

            .btnOne{
                display: block;
            }

            .btnTwo{
                display: none;
            }

            .logoDiv{
                .logo{
                    width: 40px;
                    height: 40px;
                }
            }

            .toogleIcon{
                .icon{
                    font-size: 30px;
                    color: var(--blackColor);
                }
            }

            .showNavBar{
                right: 50%;
                transition: .5s ease-in-out;
            }
        }
    }

    .withBg{
        background-color: var(--SecondaryColor);
        box-shadow: var(--boxShadow);
    }
}

// HOME
.home{
    padding-top: 10rem;
    text-align: center;
    gap: 2rem;
    flex-direction: column;

    .mainText{
        color: var(--blackColor);
        font-weight: 700;
        font-size: 2rem;
        max-width: 700px;
        line-height: 4.5rem;
    }

    .homeImages{
        width: 100%;
        margin: 1rem auto 0;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 5rem;

        .videoDiv{
            width: 100%;
            .video{
                border-radius: 10rem;
            }
        }

        .plane{
            position: absolute;
            width: 100%;
            top: -25%;
            transform: rotate(-7deg);
            animation: moveUpDown 1s infinite alternate ease-in-out;
        }

        @keyframes moveUpDown {
            0% {
              top:  -25%; /* Posisi awal */
            }
            100% {
              top: -20%; /* Posisi akhir */
            }
          }
    }

    @media screen and (max-width: 768px){
        .mainText{
            font-size: 1.5rem;
            line-height: 3rem;
        }
    }

    @media screen and (max-width: 400px){
        .mainText{
            font-size: 1rem;
            line-height: 2.5rem;
        }
    }
}


// Search
.search{
    width: 100%;
    justify-content: center;
    align-items: center;

    .sectionContainer{

        width: 80%;
        padding: .5rem;
        border: 2px solid var(--greyBg);
        border-radius: 16px;
        row-gap: 2rem;
    
        .btns{
            width: 60%;
            background: var(--SecondaryColor);
            padding: .5rem;
            justify-content: space-between;
            border-radius: 3rem;
            margin: auto;
            .singleBtn{
                padding: .8rem 1.5rem;
                font-size: 13px;
                border-radius: 3rem;
                width: 30%;
                text-align: center;
    
                &:hover{
                    background: var(--PrimaryColor);
                    color: var(--whiteColor);
                    font-weight: 500;
                    transition: .4s ease;
                }
            }
    
            .active{
                background: var(--PrimaryColor);
                color: var(--whiteColor);
                font-weight: 500;
            }

        }

        .wrapSearch {
            display: flex;
            justify-content: center;
            align-items: center;

            .searchInputs {
                flex-direction: row;
                width: 100%;
                gap: 1.5rem;
    
                // .singleInput{
                    .iconDiv{
                        padding: 16px 10px;
                        border-radius: 3rem;
                        background: var(--SecondaryColor);
                        margin-right: 1rem;
                    }
                    .icon{
                        color: var(--blackColor);
                        opacity: .7;
                    }
    
                    .texts{
                        h4{
                            padding-top: 0;
                            padding-bottom: .7rem;
                            color: var(--blackColor);
                            font-weight: 700;
                        }
    
                        input{
                            width: 95%;
                            border: none;
                            outline: none;
                            background: transparent;
    
                            &::placeholder{
                                font-size: 12px;
                                opacity: .5;
                            }
                        }
                    }
                // }
            }
            .btnBlock {
                width: 30%;
                text-align: center;
                display: flex;
                justify-content: center;
            }
        }
    }

    @media screen and (max-width: 910px){
        .wrapSearch {
            flex-direction: column;
        }

        .sectionContainer{
            width: 100%;
            .btns{
                width: 100%;
            }

            .wrapSearch {
               .searchInputs {
                margin-bottom: 1rem;
               }
            }
        }

    }

    @media screen and (max-width: 400px){
        .btns.flex{
            border-radius: 12px;
            flex-direction: column;
            .singleBtn{
                min-width: 100%;
            }
        }

        .btn.btnBlock.flex{
            width: 100%;
        }
        
    }
}

//SUPPORT
.support{
    flex-direction: column;
    gap: 3rem;
    .tittlesDiv{
        flex-direction: column;
        small, h2, p{
            text-align: center;
        }
        small{
            letter-spacing: .8rem;
            text-transform: uppercase;
            font-size: 13px;
            color: var(--blackColor);
            line-height: 1.5rem;
        }
    }
    .infoDiv{
        width: 100%;
        justify-content: space-between;
        .textDiv{
            flex-direction: column;
            .singleInfo{
                margin-bottom: 1rem;
                .number{
                    background: var(--PrimaryColor);
                    padding: 5px 12px;
                    width: 40px;
                    border-radius: 3rem;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 700;
                    color: var(--whiteColor);
                }
                .number.colorOne{
                    background: var(--colorOne);
                }
                .number.colorTwo{
                    background: var(--colorTwo);
                }
            }
        }
        .imgDiv{
            width: 40%;
        }
    }
    @media screen and (max-width: 810px){
        .infoDiv{
            flex-direction: column;
            gap: 2rem;
            .imgDiv{
                width: 100%;
            }
        }

    }

}

//INFO
.info{
    background: var(--SecondaryColor);
    justify-content: center;
    display: flex;
    .infoContainer{
        flex-direction: column;
        gap: 3rem;
        width: 70%;
        .titleDiv{
            width: 100%;
            justify-content: space-between;
            h2{
                text-align: center;
            }
        }

        .cardDiv{
            width: 100%;
            justify-content: space-between;
            gap: 1rem;
            .singleCard{
                padding: 6.5rem 1rem;
                border-radius: 600px;
                background: white;
                gap: 1.5rem;
                flex-direction: column;
                p, .cardTittle{
                    text-align: center;
                }
                p{
                    max-width: 250px;
                    font-size: 16px;
                }
                .cardTittle{
                    font-weight: 700;
                    font-size: 18px;
                }

                .iconDiv{
                    background: var(--PrimaryColor);
                    padding: 1.2rem 1rem;
                    border-radius: 100px;
                    .icon{
                        color: white;
                        width: 24px;
                    }
                }

                .iconDiv.colorOne{
                    background: var(--colorOne);
                }
                .iconDiv.colorTwo{
                    background: var(--colorTwo);
                }
            }
        }
    }
    @media screen and (max-width: 1100px){
        .infoContainer{
            width: 100%;
        }
    }
    @media screen and (max-width: 500px){
     .cardDiv, .titleDiv{
        flex-direction: column;
     }

     .singleCard{
        min-width: 100%;
     }
    }

}

//LOUNGE
.longue{
    .sectionContainer{
        grid-template-columns: 2fr 1fr;
        .wrapperGrid{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .grids{
                row-gap: 1rem;
                grid-template-columns: 2fr 2fr;
                .singleGrid{
                    p{
                        max-width: 300px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 810px){
        .sectionContainer{
            row-gap: 2rem;
            grid-template-columns: 1fr;
            .wrapperGrid{
                order: 2;
            }
            .imgDiv{
                order: 1;
            }
        }
    }

    @media screen and (max-width: 400px){
        .sectionContainer{
            .wrapperGrid{
                .textDiv{
                    h2{
                        text-align: center;
                    }
                }
                .grids {
                    grid-template-columns: 1fr;
                }
            }
        } 
    }
}

//TRAVELERS
.travelers{
    .containerSection{
        text-align: center;

        .travelersContainer{
            margin-top: 3rem;
            gap: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .singleTraveler{
                cursor: pointer;
                position: relative;
                height: 320px;
                width: 85%;
                max-width: 250px;
                overflow: hidden;
                border-radius: 10rem;
                gap: 1rem;
                margin: auto;

                .destinationImg, .travelerImg, .travelerName{
                    position: absolute;
                }

                .destinationImg{
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    object-fit: cover;
                }

                .travelerImg{
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                    bottom: 30px;
                    left: 40%;
                    transform: translateX(-50%);
                    border: 3px solid rgba(255,255,255, 0.6);
                    transition: var(--transition);
                    animation: animated 2.3s infinite;
                }

                @keyframes animated {
                    0%{
                        transform: translateY(8px);
                    }
                    50%{
                        transform: translateY(8px);
                    }
                    100%{
                        transform: translateY(0px);
                    }
                    
                }

                .travelerName{
                    bottom: -100%;
                    width: 100%;
                    height: max-content;
                    background: var(--whiteColor);
                    padding: 1.5rem 1rem;
                    transition: var(--transition);
                    animation: animatedBorders 2.3s infinite;

                    span{
                        display: block;
                        color: black;
                        font-weight: 700;
                    }

                    p{
                        color: var(--PrimaryColor);
                        font-style: italic;
                    }
                }

                @keyframes animatedBorders {
                    0%{
                        border-radius: 0rem;
                    }
                    50%{
                        border-radius: 2rem;
                    }
                    100%{
                        border-radius: 0rem;
                    }
                    
                }

                &:hover{
                    .travelerImg{
                        bottom: 110px;
                        transition: 1s ease-in-out;
                    }
                    .travelerName{
                        bottom: 0;
                        transition: 1s ease-in-out;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1100px){
        .containerSection{
            .travelersContainer{
                margin-top: 3rem;
                gap: 1rem;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

    @media screen and (max-width: 768px){
        .containerSection{
            .travelersContainer{
                margin-top: 3rem;
                gap: 1rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @media screen and (max-width: 500px){
        .containerSection{
            .travelersContainer{
                margin-top: 3rem;
                gap: 1rem;
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }
}

//SUBSCRIBE
.subscribe{
    margin-top: 2rem;
    padding-bottom: 4rem;
    background: var(--SecondaryColor);

    .sectoinContainer{
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .inputDiv{
            margin-top: .5rem;
            max-width: 600px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding: 10px;
            padding-left: 1rem;
            background: var(--whiteColor);
            border-radius: 2rem;

            input{
                border: none;
                outline: none;
                background: transparent;
            }

            &:placeholder{
                font-size: 13px;
                opacity: 0.5;
            }
        }
    }

    @media screen and (max-width: 450px){
        .sectoinContainer>.inputDiv{
            flex-direction: column;
            text-align: center;

            input{
                padding-top: .2rem;
                text-align: center;
            }
            .btn{
                margin-top: 1rem;
            }
        }
    }
}

//FOOTER
.footer{
    width: 100%;
    background: var(--SecondaryColor);
    padding-bottom: 4rem;

    .sectionContainer{
        width: 100%;
        gap: 2.5rem;
        justify-content: space-between;

        .gridOne{
            width: 50%;
            gap: 1rem;
            justify-content: center;
            margin: auto;

            .logoDiv{
                .logo{
                    width: 60px;
                }
            }
            p{
                font-size: 1rem;
                max-width: 250px;
            }

            .socialIcon{
                margin-top: 1rem;
                gap: 1rem;
                .icon{
                    color: var(--greyText);
                }
            }
        }

        .wrapperLinks{
            gap: 1rem;
            width: 50%;
            justify-content: space-between;
            align-items: start;

            .footerLinks{
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: .5rem;
            }

            a{
                color: var(--greyText);
            }
        }
    }

    @media screen and (max-width: 1000px){
        .sectionContainer{
            .gridOne{
                width: 30%;
            }
            .wrapperLinks{
                width: 70%;
            }
        }
    }

    @media screen and (max-width: 810px){
        .sectionContainer{
            flex-direction: column;

            .gridOne{
                width: 100%;
                align-items: start;
            }

            .wrapperLinks{
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 450px){
        .wrapperLinks{
           flex-direction: column;
        }
    }
}
// End Section Style