@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --PrimaryColor: hsl(225, 50%, 48%);
  --SecondaryColor: hsl(180, 17%,95%) ;
  --colorOne: hsl(15, 74%,70%) ;
  --colorTwo: hsl(28, 100%,82%) ;
  --HoverColor: hsl(225, 56%, 59%);
  --whiteColor: hsl(0,0%,100%);
  --blackColor: hsl(0,0%,12%) ;
  --textColor:hsl(240,1%, 48%);
  --borderColor: hsl(0, 0%,0%, 83%);
  --whiteColorDeam:hsl(0,0%,93%) ;
  --greyBg: hsl(0, 0%,96%) ;
  --greyText: rgb(145, 145, 145);
  --inputColor: hsl(330, 12%, 97%);
  --boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0рх 4px 6px -2px;
  --transition: .4s ease-in-out;
}

body {
  background: var(--whiteColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 6rem;
  padding-right: 6rem;
}
@media screen and (max-width: 768px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  border: none;
  padding: 0.7rem 1.5rem;
  background: var(--PrimaryColor);
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--whiteColor);
}
.btn a {
  color: var(--whiteColor);
  font-weight: 500;
}
.btn:hover {
  background: var(--HoverColor);
}

img, video {
  width: 100%;
  height: auto;
}

.input {
  font-size: 100%;
  color: var(--blackColor);
  background: var(--greyText);
  border-radius: 0.4rem;
  padding: 1rem;
  border: none;
  outline: none;
}
.input:focus {
  border: 1px solid var(--PrimaryColor);
}

p {
  font-size: 13px;
  color: var(--greyText);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--blackColor);
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--blackColor);
}

.navBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}
.navBar .navBarOne, .navBar .navBarTwo {
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.navBar .navBarOne {
  background: var(--SecondaryColor);
  padding-left: 2rem;
  padding-right: 2rem;
}
.navBar .navBarOne .icon:hover {
  color: var(--PrimaryColor);
}
.navBar .navBarOne .atb {
  gap: 1rem;
}
.navBar .navBarOne .atb span {
  color: var(--blackColor);
  font-size: 13px;
  cursor: pointer;
}
.navBar .navBarOne .atb:hover {
  color: var(--PrimaryColor);
  font-size: 700;
}
@media screen and (max-width: 768px) {
  .navBar .navBarOne {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.navBar .navBarTwo {
  background-color: var(--whiteColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 3.5rem;
  padding: 0.5rem 1rem;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.navBar .navBarTwo .navBarMenu .menu {
  gap: 1.5rem;
}
.navBar .navBarTwo .logoDiv .logo {
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 768px) {
  .navBar .navBarTwo .navBarMenu {
    position: absolute;
    flex-direction: column;
    background: var(--SecondaryColor);
    padding: 1.5rem;
    border-radius: 10px;
    top: 5rem;
    gap: 1rem;
    right: -50%;
    width: 80%;
    transform: translateX(50%);
    z-index: 2000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: 3px solid var(--whiteColor);
    transition: 0.4s ease-in-out;
  }
  .navBar .navBarTwo .toogleIcon {
    display: block;
  }
  .navBar .navBarTwo .menu {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .navBar .navBarTwo .menu .listItem {
    width: 100%;
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--blackColor);
  }
  .navBar .navBarTwo .menu:hover {
    color: var(--PrimaryColor);
    font-weight: 700;
  }
  .navBar .navBarTwo .btnOne {
    display: block;
  }
  .navBar .navBarTwo .btnTwo {
    display: none;
  }
  .navBar .navBarTwo .logoDiv .logo {
    width: 40px;
    height: 40px;
  }
  .navBar .navBarTwo .toogleIcon .icon {
    font-size: 30px;
    color: var(--blackColor);
  }
  .navBar .navBarTwo .showNavBar {
    right: 50%;
    transition: 0.5s ease-in-out;
  }
}
.navBar .withBg {
  background-color: var(--SecondaryColor);
  box-shadow: var(--boxShadow);
}

.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.home .mainText {
  color: var(--blackColor);
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5rem;
}
.home .homeImages {
  width: 100%;
  margin: 1rem auto 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
}
.home .homeImages .videoDiv {
  width: 100%;
}
.home .homeImages .videoDiv .video {
  border-radius: 10rem;
}
.home .homeImages .plane {
  position: absolute;
  width: 100%;
  top: -25%;
  transform: rotate(-7deg);
  animation: moveUpDown 1s infinite alternate ease-in-out;
}
@keyframes moveUpDown {
  0% {
    top: -25%; /* Posisi awal */
  }
  100% {
    top: -20%; /* Posisi akhir */
  }
}

.search {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.search .sectionContainer {
  width: 80%;
  padding: 0.5rem;
  border: 2px solid var(--greyBg);
  border-radius: 16px;
  row-gap: 2rem;
}
.search .sectionContainer .btns {
  width: 60%;
  background: var(--SecondaryColor);
  padding: 0.5rem;
  justify-content: space-between;
  border-radius: 3rem;
  margin: auto;
}
.search .sectionContainer .btns .singleBtn {
  padding: 0.8rem 1.5rem;
  font-size: 13px;
  border-radius: 3rem;
  width: 30%;
  text-align: center;
}
.search .sectionContainer .btns .singleBtn:hover {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
  font-weight: 500;
  transition: 0.4s ease;
}
.search .sectionContainer .btns .active {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
  font-weight: 500;
}
.search .sectionContainer .wrapSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .sectionContainer .wrapSearch .searchInputs {
  flex-direction: row;
  width: 100%;
  gap: 1.5rem;
}
.search .sectionContainer .wrapSearch .searchInputs .iconDiv {
  padding: 16px 10px;
  border-radius: 3rem;
  background: var(--SecondaryColor);
  margin-right: 1rem;
}
.search .sectionContainer .wrapSearch .searchInputs .icon {
  color: var(--blackColor);
  opacity: 0.7;
}
.search .sectionContainer .wrapSearch .searchInputs .texts h4 {
  padding-top: 0;
  padding-bottom: 0.7rem;
  color: var(--blackColor);
  font-weight: 700;
}
.search .sectionContainer .wrapSearch .searchInputs .texts input {
  width: 95%;
  border: none;
  outline: none;
  background: transparent;
}
.search .sectionContainer .wrapSearch .searchInputs .texts input::-moz-placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.search .sectionContainer .wrapSearch .searchInputs .texts input::placeholder {
  font-size: 12px;
  opacity: 0.5;
}
.search .sectionContainer .wrapSearch .btnBlock {
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 910px) {
  .search .wrapSearch {
    flex-direction: column;
  }
  .search .sectionContainer {
    width: 100%;
  }
  .search .sectionContainer .btns {
    width: 100%;
  }
  .search .sectionContainer .wrapSearch .searchInputs {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .search .btns.flex {
    border-radius: 12px;
    flex-direction: column;
  }
  .search .btns.flex .singleBtn {
    min-width: 100%;
  }
  .search .btn.btnBlock.flex {
    width: 100%;
  }
}

.support {
  flex-direction: column;
  gap: 3rem;
}
.support .tittlesDiv {
  flex-direction: column;
}
.support .tittlesDiv small, .support .tittlesDiv h2, .support .tittlesDiv p {
  text-align: center;
}
.support .tittlesDiv small {
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--blackColor);
  line-height: 1.5rem;
}
.support .infoDiv {
  width: 100%;
  justify-content: space-between;
}
.support .infoDiv .textDiv {
  flex-direction: column;
}
.support .infoDiv .textDiv .singleInfo {
  margin-bottom: 1rem;
}
.support .infoDiv .textDiv .singleInfo .number {
  background: var(--PrimaryColor);
  padding: 5px 12px;
  width: 40px;
  border-radius: 3rem;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: var(--whiteColor);
}
.support .infoDiv .textDiv .singleInfo .number.colorOne {
  background: var(--colorOne);
}
.support .infoDiv .textDiv .singleInfo .number.colorTwo {
  background: var(--colorTwo);
}
.support .infoDiv .imgDiv {
  width: 40%;
}
@media screen and (max-width: 810px) {
  .support .infoDiv {
    flex-direction: column;
    gap: 2rem;
  }
  .support .infoDiv .imgDiv {
    width: 100%;
  }
}

.info .infoContainer .titleDiv {
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */